<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}MEDIMIC{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/main.css" />
  {% block extra_css %}{% endblock %}
</head>
<body>
<header class="site-header">
  <div class="container header-content">
    <img src="/static/img/medimic_logo.png" alt="Logo MEDIMIC" class="logo">
    <h1 class="system-title">Gestión Médica de IMC</h1>
    <nav>
      <a href="/patients">Pacientes</a>
      <a href="/patients/create">Crear paciente</a>
    </nav>
  </div>
</header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <footer class="site-footer">
    <div class="container">
      <small>Monolito FastAPI + Jinja2 — MVP educativo</small>
    </div>
  </footer>

  <!-- JS externo (si la vista lo necesita puede sobreescribir este bloque) -->
  {% block scripts %}
  {% endblock %}
</body>
</html>
